.Rproj.user
.Rhistory
.RData
.Ruserdata
mapIcon.ai
TidyingData.log
README.html
refs.bib
AppMetrics.log
AppMetrics.pdf
WriteUp.html
appUserMetrics.R
docker_container_cpu_1h_Practical1.csv
docker_container_cpu_1m_Practical1.csv
test.Rmd
WriteUp.docx
.secrets
